[submodule "external/torch"]
	path = external/torch
	url = https://github.com/HarbourMasters/Torch.git
	branch = main
[submodule "external/libultraship"]
	path = external/libultraship
	url = https://github.com/acoston822/libultraship.git
	branch = lus-converge-paperpad
